<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="/public/styles/content.css">
<link rel="stylesheet" href="/public/styles/style.css"> 
<div class="container"> <div class="profile">
    <img class="profile" src="/images/images.jpg" alt="my profile">
    <div class="intro"><h1>EDU-UPDATES</h1> 
  <p class="para">Join Our Community</p>
<p class="para">To get the latest updates about your channel</p> </div>
   </div>
   <div class="matter">
    <p>This is an e-learning platform where you can register yourself for free and get updates of top online educators or channels who are coming with some latest course or offers in their respective fields.</p>
   </div>
   <h3>You Will Get Updates About</h3>
   <div class="row">
    <div class="card1" style="width: 15rem;">
        <img src="/images/offer.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Special Offer</h5>
          <p class="card-text">You will get updates about exciting offers about any course launched by your favourite channels at exciting prices.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> 
      <div class="card2" style="width: 15rem;">
        <img src="/images/limited.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Limited Deals</h5>
          <p class="card-text">You will get to know about the limited deals about any program or courses valid for a limited period.You will never miss an update.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> 
   </div>
   
  
</div>
   